@import "./common/index.scss";

$typeMap: (
        default: $--color-primary,
        primary: $--color-primary,
        danger: $--color-danger,
        success: $--color-success,
        warning: $--color-warning,
        info: $--color-info);

@include b(link) {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: $--font-size-base;
  font-weight: $--font-weight-primary;

  @include when(underline) {
    &:hover:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid $--color-primary;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
  }

  & [class*=imm-icon]+span {
    margin-left: 5px;
  }
  & span+[class*=imm-icon] {
    margin-left: 5px;
  }

  @each $type, $primaryColor in $typeMap {
    &.imm-link--#{$type} {
      color: $primaryColor;
      &:hover {
        color: mix($primaryColor, $--color-white, 80%)
      }
      &:after {
        border-color: $primaryColor
      }
      @include when(disabled) {
        color: mix($primaryColor, $--color-white, 50%)
      }
      @include when(underline) {
        &:hover:after {
          border-color: $primaryColor
        }
      }
    }
  }
}
